.file-select {
	position: relative;
	display: inline-block;
}

.file-select::before {
	background-color: #018f98;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	content: "\f030";
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50px;
}

.file-select input[type="file"] {
	opacity: 0;
	width: 50px;
	height: 32px;
}
